a:link{
    color:palevioletred;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color:rgb(100, 160, 36);
    background-color: transparent;
    text-decoration: underline;
}